.App {
  text-align: center;
  display: flex;
}

.App ul {
  margin: 20px;
  padding: 20px;
  border-right: solid 1px;
  list-style: none;
  font-size: 18px;
  width: 200px;
}

.App > div {
  height: 100%;
  overflow-y: scroll;
  left: 250px;
  top: 0;
  position: absolute;
  width: calc(100% - 280px);
}

.App ul li {
  margin: 20px;
  padding: 0;
  list-style: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  margin: 5px;
  min-height: 30px;
  font-size: 16px;
  font-style: italic;
}

div[class^='section-'] {
  position: relative;
  border: dotted 3px;
  margin: 10px;
  padding: 20px;
  overflow-x: scroll;
}

div[class^='section-'] > p {
  font-weight: bold;
  position: absolute;
  top: 0;
  margin: 5px;
  font-size: 18px;
  left: 0;
}

div[class^='section-'] > fieldset {
  text-align: left;
  margin-top: 10px;
}

div[class^='section-'] > div {
  z-index: 1;
  position: relative;
}


